.button {
  width: 18rem;
  border-radius: 28px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  height: 9vh;
  padding: 0 6vw;
}

h1 {
  margin: 0;
  font-size: 2rem;
}
